<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Enter User</title>
</head>
<body>

<h1> ENTER USERNAME </h1>

<form th:action="@{/save}"  method = "post">
    <input name="name" placeholder="Enter Username"/>
    <span th:if="${errorMessage}" th:text="${errorMessage}"/>
    <span th:if="${errorMessage2}" th:text="${errorMessage2}"/>
    <button type="submit" value="Submit">Submit</button>

</form>
</body>
</html>